doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/nav.css')
  body
    header
      div.menu-icon
        i.fa.fa-bars.fa-2x
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/about') About Us
          li
            a(href='/services') Services
          li
            a(href='/contact') Contact Us

    block content
