extends layout

block content
  html
  head
    title Login Page
    link(rel="stylesheet", href="/stylesheets/login.css")
  body
    h1 Login Page
    form(action="/login", method="POST")
      label(for="username") Username:
      input(type="text", id="username", name="username")
      br
      label(for="password") Password:
      input(type="password", id="password", name="password")
      br
      input(type="submit", value="Login")
