.main-wrapper {
    margin: auto;
    width: 955px;
    max-width: 955px;
    height: 695px;
    background-color: var(--pill-main);
    border-radius: 2vh;
    font-family: "Roboto", sans-serif;
    margin-top: 12vh;
}

.editProfileContainer {
    width: 100%;

}

input:focus {
    outline: none;
}

.title {
    margin: auto;
    margin-top: 75px;
    width: 955px;
    max-width: 955px;
    height: 80px;
    background-color: var(--pill-main-solid);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
}

.sidebar {
    padding-top: 20px;
    margin-left: 55px;
    margin-top: 35px;
    height: 75%;
    width: 70%;
    background-color: var(--button-primary);
    border-radius: 15px;
}

.account-container {
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 20px;
    width: 100%;
    height: 615px;
}

.sidebar-button {
    display: grid;
    grid-template-columns: 20% 70%;
    margin-left: 5%;
    gap: 5%;
    margin-top: 7.5px;
    margin-bottom: 5px;
    align-self: center;
    width: 100%;
    height: 55px;
    cursor: pointer;
}

.sidebar-button:hover > p {
    color: var(--off-white);
}

.sidebar-button:hover > .icon {
    color: var(--off-white);
}

.icon {
    color: var(--white);
    justify-self: center;
    align-self: center;
    height: 35px;
    width: 35px;
}

.sidebar-button p {
    font-weight: 600;
    color: var(--white);
    font-size: 1.75vh;
    justify-self: left;
    align-self: center;
}

.stripe {
    margin: 0 auto;
    width: 90%;
    height: 1px;
    background-color: var(--white);
}

.account-content {
    margin-top: 65px;
    height: 75%;
    width: 86.5%;
    border-radius: 15px;
}

.account-content p {
    font-size: 1.75vh;
    font-weight: 600;
    color: var(--white);
}

.content-stripe {
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: var(--white);
}

.inside {
    margin: 0 auto;
    width: 92.5%;
}

.setting {
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 27.5% 42.5% 35%;
    gap: 5%;
}

.setting p:last-child {
    font-weight: 400;
    color: var(--bulletinboard-bulletin);
}

.account-content .verificatie-status {
    color: var(--heart);
}

#tiktok, #instagram, #facebook, .instagram, .tiktok, .facebook {
    height: 3rem;
    width: auto;
}



.textSM {
    margin-left: -95px;
}

#instagramUser, #facebookUser, #tiktokUser {
    max-width: 100%;
    margin-left: -200px;
}

#bewerken1, #bewerken2, #bewerken3 {
    margin-top: -36px;
    margin-left: 430px;
}

.socialsContainer{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.insta{
    margin-left: 200px;
    gap: 2rem;
    flex: 1 0 auto;
    max-height: 3rem;
    max-width: 3rem;

}

.wwvergetenheader h2{

    color: #FFFFFF;
}
