body {
    font-family: 'Roboto', sans-serif;
    background-color: #1E1E1E;
    color: white;
}

.editProfileContainer {
    max-width: 825px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(30, 30, 30, 95%);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #1E1E1E;
    border-radius: 25px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 350px;
    height: 60px;
    margin-bottom: 1.5rem;
    border-radius: 25px;
    background-color: #343434;
    color: white;
    border-style: none;
    padding-left: 1rem;
}

input:focus {
    background-color: #343434;
    color: white;
    outline: none;
}

input::placeholder {
    color: white;
}

button[type="submit"] {
    width: 200px;
    height: 60px;
    margin-bottom: 0;
    background-color: #343434;
    color: white;
    border-radius: 25px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.input-wrapper {
    position: relative;
    width: 350px;
    height: 60px;
    margin-bottom: 1.5rem;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.inputIcon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 1.5rem;
    pointer-events: none;
}


@media screen and (max-width: 768px) {
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 100%;
    }
}
