/*Fonts and Colors*/
@import url('https://fonts.cdnfonts.com/css/roboto');



/*Body Content*/
body {
    background-image: url("../../img/background.png");
    background-color: cornflowerblue;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

/*Scrollbar*/
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: powderblue;
}

/*Main*/
main {
    /* margin-left: 5rem; */
    padding: 1rem;
}



/* Navbar begint hier */
/*.navbar {*/
/*    background-color: rgb(26, 30, 61);*/
/*}*/

/*.bd-navbar .navbar-nav .nav-link .loggedout {*/
/*    padding-right: 0.5rem;*/
/*    padding-left: 0.5rem;*/
/*    color: #cbbde2;*/
/*}*/

/*!*.navbar-brand:active,*!*/
/*!*.nav-link:hover {*!*/
/*!*    background-color: darkseagreen;*!*/
/*!*}*!*/

/*.navbar-brand {*/
/*    position: fixed;*/
/*    top: 15px;*/
/*    right: 850px;*/
/*    border: 2px #1A1E3DFF solid;*/
/*    border-radius: 15px;*/
/*    padding: 5px;*/
/*}*/

/*new */
nav ul {
    /*display: flex;*/
    /*justify-content: space-evenly;*/
    /*flex-:*/
    display: grid;
    grid-template-areas: "nav1 nav2 nav3 nav4 nav5";
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width: 535px;
    background-color: #1a1e3d;
    position: relative;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

/*li {*/
/*    !*flex: 2;*!*/
/*    grid-area: topbar;*/
/*}*/
nav ul:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    /*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpiZmBg6AZiDiBWZ4YyQMCOCcYA4kMAAQYAHyYCCUdxidgAAAAASUVORK5CYII=");*/
}

nav li {
    margin: 0 auto;
    display: inline-block;
    list-style: none;
    padding: 0;
}

nav a {
    display: block;
    padding: 25px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    text-shadow: 1px 0px rgba(0, 0, 0, 0.4);
    color: #686f77;
    letter-spacing: .2em;
    text-decoration: none;
    transition: color 200ms;
    transform-style: preserve-3d;
}

nav a:hover {
    color: #343e48;
}

nav a:after {
    /*content: attr(data-title);*/
    position: absolute;
    display: flex;
    text-shadow: none;
    top: 29%;
    left: 18px;
    padding: 5px 7px;
    color: transparent;
    background: #4795c3;
    transform-origin: 50% 0%;
    backface-visibility: hidden;
    transform: translate3d(0px, 105%, 0px) rotateX(-112deg);
    transform-style: preserve-3d;
    transition: all 200ms ease;
    z-index: -1;
}

nav li:nth-child(2) a:after {
    background-color: #ecc64b;
}

nav li:nth-child(4) a:after {
    background: #0b9ea6;
}

.navUpload a:after {
    background: #f26667;
}

.navLogin a:after {
    background: #66f29e;
}

.navLogout a:after {
    background: #cf66f2;
}

.navSignup a:after {
    background: #66d1f2;
}

nav a:hover:after {
    transform: rotateX(0deg) translateZ(0px);
}


/*Nav eindigt*/

/* Footer begint hier */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(26, 30, 61, 1);
}

/*Footer eindigt*/

/*Buttons*/
button {
    margin-top: 25px;
    /*border: 5px blanchedalmond solid;*/
    /*color: cyan;*/
}

/*Buttons eindigt*/


.loggedout {
    display: none;
}

.loggedin {
    display: block;

}

/*error laten zien*/

.error {
    color: red;
    font-size: small;

}

.whenLoggedIn {
    display: none;
}