@import url("https://fonts.cdnfonts.com/css/roboto");
@import url("https://fonts.cdnfonts.com/css/oswald-4");

:root {
    --main-font: "Roboto", sans-serif;
    --brand-font: "Oswald Regular", sans-serif;
    --white: #ffffff;
    --off-white: #d3d3d3;

    --navbar-main: #292e5c;
    --navbar-brand: #222754;

    --pill-main: rgba(30, 30, 30, 95%);
    --pill-secondary: rgba(49, 49, 49, 95%);
    --pill-main-solid: #1e1e1e;

    --button-primary: #343434;

    --story-gradient: linear-gradient(97.34deg,
            rgba(30, 30, 30, 0.95) 0%,
            rgba(78, 65, 100, 0.95) 51.8%,
            rgba(129, 95, 185, 0.95) 99.93%);
    --story-border: #904bff;

    --trending-border: linear-gradient(225deg, #ff3d00 0%, #ff8a00 100);

    --bulletinboard-bulletin: #00ffff;

    /* Icon and Border colors */

    --trending: #ff8a00;
    --heart: #ff0000;
    --trash-color: #3a1d09;
}

.nav {
    position: fixed;

    top: 0;
    height: 8vh;
    width: 100%;
    background-color: var(--navbar-main);
    display: grid;
    font-family: var(--main-font);
    grid-template-columns: 10vw 10vw 10vw 40vw 10vw 10vw 10vw;
    justify-content: space-evenly;
    font-size: 2vh;
    z-index: 1000;
    /* To ensure the navbar stays above the other content */
}

.nav p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav>div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav p {
    height: 5vh;
}

.nav p:hover {
    color: var(--off-white);
}

.nav div:nth-child(-n + 3) p {
    margin-left: 5vh;
}

.nav div:nth-last-child(-n + 3) {
    margin-right: 5vh;
}

.brand {
    justify-self: center;
    height: 9vh;
    width: 36vh;
    background-color: var(--navbar-brand);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 2.5vh;
    border-bottom-right-radius: 2.5vh;
    font-size: 3.5vh;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.brand p {
    font-family: var(--brand-font);
}

.account {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vh;
    margin-left: 5vh;
}

.account img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    border: solid white 0.25vh;
}

.dropdown-content {
    display: none;
    position: absolute;
    float: right;
    margin-top: 23vh;
    background-color: var(--navbar-main);
    width: 12.5vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content p:nth-child(1) {
    margin: auto;
    width: 7.75vw;
    cursor: pointer;
}

.dropdown-content p:nth-child(2) {
    margin: auto;
    width: 8.25vw;
    cursor: pointer;
}

.dropdown-content p:nth-child(3) {
    margin: auto;
    width: 6.25vw;
    cursor: pointer;
}

.account:hover .dropdown-content {
    display: block;
}

#whenLoggedIn {
    display: none;
}

#whenLoggedOut {
    display: none;
}