.container1 {
    margin: 0 auto;
    margin-top: 190px;
    width: 600px;
    height: 150px;
    background-color: rgba(30, 30, 30, 95%);
    border-radius: 25px;
    padding-top: 30px;
}

.container1 p {
    text-align: center;
    color: white;
}

.passwordUpdate {
    padding-left: 110px;
}

label {
    color: white;
}