.post-container {
    margin: 0 auto;
    width: 955px;
    max-width: 955px;
    height: 695px;
    background-color: rgba(30, 30, 30, 95%);
    border-radius: 25px;
    font-size: 1.75vh;
}

button {
    font-weight: 600;
}

.postheader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    border-radius: 25px;
    width: 825;
    height: 65px;
    padding: 0;
    margin-bottom: 70px;
}

.postheader h2 {
    width: 450px;
    margin: auto;
    color: white;
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    height: 275px;
    background-color: var(--pill-secondary);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 25px;
    margin-bottom: 25px;
    padding: 25px;

}

.verhaal {
    font-family: "Roboto", sans-serif;
    height: 180px;
    width: 565px;
    color: white;
}

.buttons {
    height: 42px;
    width: 500px;
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 25px 1fr;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.bold, .italic, .underline, .strikethrough, .font {
    height: 42px;
    font-size: 25px;
    color: white;
    justify-self: center;
    margin: 0 auto;
}

.typeselector {
    height: 42px;
    width: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--white);
    display: none;
}

.typeselector p {
    height: 24px;
    color: var(--white);
    border: solid var(--white) 2px;
    border-radius: 15px;
    width: 100px;
    line-height: 18px;
    font-weight: 600;

    place-self: center;

    margin: 0 auto;

    text-align: center;

}

.input-container textarea {
    width: 500px;
    background-color: var(--pill-secondary);
    border-style: none;
    resize: none;
    color: var(--white);
    padding: 15px;

}

.input-container textarea:focus {
    outline: none;
}

.inputicon {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 40px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 650px;
    height: 60px;
    margin: 0 auto;
}

.button-container button {
    width: 100%;
    height: 60px;
    background-color: #343434;
    border-style: none;
    color: white;
    border-radius: 25px;
}

.submitbutton {
    display: grid;
    grid-template-columns: 60% 1fr;
    height: 60px;
    width: 100%;
    background-color: #343434;
    border-radius: 25px;
    color: white;
    margin-bottom: 25px;
}

.submitbutton p {
    justify-self: right;
    align-self: center;
}

.submitbutton:hover {
    cursor: pointer;
}

.wwvergeten,
.submitbutton {
    margin: 0;
    padding: 0;
}

.submitbutton i {
    justify-self: left;
    margin-left: 50px;
    font-size: 30px;
}

.title {
    width: 650px;
    margin: 0 auto;
    margin-bottom: 25px;
    border-radius: 25px;
}

.titleinput {
    width: 100%;
    height: 60px;
    background-color: var(--pill-secondary);
    border-style: none;
    border-radius: 25px;
    color: var(--white);
    text-indent: 70px;
}

.buttons button {
    background-color: transparent;
    border-style: none;
}

.buttons svg {
    border: solid 1px transparent;
    border-radius: 5px;
}

.buttons svg:hover {
    color: var(--trending);
    border: solid 1px var(--button-line);
}