/* HTML */
html{

}

/*Body*/
body{
    display: grid;
    grid-template-areas:
            "s1 s2 s3"
            "s4 s5 s6"
            "s7 s8 s9" ;
    grid-template-columns: 1fr 3fr 1fr;
}

/*Main*/
main{
    grid-area: s5;
    display: grid;
    grid-template-areas:
            "sec1 sec2 sec3"
            "sec4 sec5 sec6"
            "sec7 sec8 sec9";
    grid-template-columns: 1fr ;
}

/* Other tags*/
.container{
    grid-area: sec5;
    grid-template-areas:
            "sec1"
            "sec2"
            "sec3"
            "sec4";
    grid-template-columns: 2fr;

}


.home{
    grid-area: sec1;
}

.post{
    grid-area: sec2;
}

.upload{
    grid-area: sec3;
}

.account{
    grid-area: sec4;
}



/*Footer*/