.sorteer-knop{
    margin: auto;
    background-color: #343434;
    width: 180px;
    height: 50px;
    border-radius: 8px;
}

/* Dropdown Button */
.dropbtn {
    margin: auto;
    background-color: #343434;
    width: 180px;
    height: 50px;
    border-radius: 8px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown contentText */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-contentText container when the user clicks on the dropdown button) */
.show {display:block;}

.sorteer-knoppen{
    margin: auto;
    display: flex;
    background-color: rgba(20, 20, 20, 0.88);
    width: 500px;
    height: 70px;
    border-radius: 10px;
}

p {
    margin: 0!important;
}

.story-grid {
    display:grid;
    margin: auto;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 40px;
}

.posts-knop{
    margin: auto;
    background-color: #343434;
    width: 180px;
    height: 50px;
    border-radius: 8px;
}

.text{
    margin: auto;
    color: white;
    justify-content: center;
}

.story {
    display: grid;
    grid-template-columns: 40% 45.5% 7.5% 4.5%;
    width: 450px;
    height: 150px;
    border-radius: 25px;
    margin-bottom: 35px;
    margin-left: 20px;
    margin-right: 20px;
}

.persoonstory{
    background: linear-gradient(97.34deg, rgba(30, 30, 30, 0.95) 0%, rgba(78, 65, 100, 0.95) 51.8%, rgba(129, 95, 185, 0.95) 99.93%);
}

.instantiestory{
    background: linear-gradient(96.64deg, rgba(30, 30, 30, 0.9025) 0%, rgba(98, 78, 78, 0.926398) 50.31%, rgba(255, 151, 151, 0.9025) 100%);
}

.shitpost{
    background: linear-gradient(96.98deg, rgba(30, 30, 30, 0.9025) 0%, rgba(65, 53, 45, 0.925409) 50.83%, rgba(99, 68, 45, 0.9025) 100%);
}

.one{
    -webkit-animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.two{
    -webkit-animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.15s both;
    animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.15s both;
}

.three{
    -webkit-animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s both;
    animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s both;
}

.four{
    -webkit-animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.35s both;
    animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.35s both;
}

/* ----------------------------------------------
* Generated by Animista on 2023-3-22 13:3:42
* Licensed under FreeBSD License.
* See http://animista.net/license for more info.
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}


/* ----------------------------------------------
* Generated by Animista on 2023-3-22 13:9:5
* Licensed under FreeBSD License.
* See http://animista.net/license for more info.
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
}
@keyframes slide-left {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 150px;
}

.image img {
    width: 105px;
    height: 105px;
    background-position: center;
    border-radius: 25px;
}

.text {
    display: flex;
    align-items: center;
}

.story p {
    margin: 0;
    padding: 0;
    color: var(--white);
}

.story-titel {
    font-size: 18px;
}

.story-text {
    font-size: 13px;
}

.status {
    display: flex;
    flex-direction: column;
}

.trending,
.readme {
    margin: 0;
    padding: 0;
    font-size: 28px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trending {
    color: var(--trending);
}

.trendingimage {
    border: solid var(--trending) 4px;
}

.heartimage {
    border: solid var(--heart) 4px;
}

.trashimage {
    border: solid var(--trash-color) 4px;
}

.heart {
    color: var(--heart);
    border-color: var(--heart);
}

.trash {
    color: var(--trash-color);
    border-color: solid var(--trash-color) 4px;
}

.readme {
    color: var(--white);
}

.story img {
    object-fit: cover;
}

.iconnumber {
    display: flex;
    align-items: center;
    height: 50%;
    font-size: 14px;
    margin-top: 4px;
    /* margin-left: -2px; */
}

.main-wrapper {

}