* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.75vh;
}

.main-wrapper {
    margin: auto;
    width: 955px;
    max-width: 955px;
    height: 695px;
    border-radius: 2vh;
    font-family: "Roboto", sans-serif;
}

input:focus {
    outline: none;
}

.toolbar {
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 2vh;
    width: 955px;
    max-width: 955px;
    height: 80px;
    border-radius: 25px;
    margin-top: 12vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--pill-main);
}

.searchbar-container {
    align-self: center;
    display: grid;
    width: 40vh;
    grid-template-columns: 1fr 1fr;
}

.searchbar {
    width: 30vh;
    height: 60px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-style: none;
    margin-left: 8.5vh;
    text-indent: 25px;
    font-size: 1.75vh;
    color: black;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.searchbar-icon {
    width: 6vh;
    height: 60px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--button-primary);
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.filter-container {
    justify-self: right;
    align-self: center;
    display: grid;
    grid-template-columns: 5vh 10fr 10fr 10fr;
    width: 35vh;
    height: 60px;
    background-color: var(--button-primary);
    justify-self: right;
    border-radius: 2vh;
    margin-right: 2.5vh;
}

.filter-icon {
    width: 6vh;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-container p {
    color: white;
    align-self: center;
    justify-self: center;
    font-size: 1.75vh;
    font-family: var(--main-font);

    cursor: pointer;
}

.filter-container p:hover {
    color: var(--off-white);
}

svg {
    width: 3vh;
    height: 3vh;
    color: white;
}

.searchbar-icon svg {
    height: 2.5vh;
    width: 2.5vh;
}

.searchbar-icon:hover>svg {
    color: var(--off-white);
}

.story-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.story {
    display: grid;
    grid-template-columns: 40% 45.5% 7.5% 4.5%;
    width: 450px;
    height: 150px;
    border-radius: 25px;
    margin-bottom: 35px;
    justify-self: right;
}

.story:nth-child(odd) {
    justify-self: left;
}

.persoonstory {
    background: linear-gradient(97.34deg,
            rgba(30, 30, 30, 0.95) 0%,
            rgba(78, 65, 100, 0.95) 51.8%,
            rgba(129, 95, 185, 0.95) 99.93%);
}

.instantiestory {
    background: linear-gradient(96.64deg,
            rgba(30, 30, 30, 0.9025) 0%,
            rgba(98, 78, 78, 0.926398) 50.31%,
            rgba(255, 151, 151, 0.9025) 100%);
}

.shitpost {
    background: linear-gradient(96.98deg,
            rgba(30, 30, 30, 0.9025) 0%,
            rgba(65, 53, 45, 0.925409) 50.83%,
            rgba(99, 68, 45, 0.9025) 100%);
}

.one {
    -webkit-animation: slide-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.two {
    -webkit-animation: slide-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s both;
    animation: slide-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s both;
}

.three {
    -webkit-animation: slide-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s both;
    animation: slide-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s both;
}

.four {
    -webkit-animation: slide-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s both;
    animation: slide-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-22 13:3:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 150px;
}

.image img {
    width: 105px;
    height: 105px;
    background-position: center;
    border-radius: 25px;
}

.text {
    display: flex;
    align-items: center;
}

.story p {
    margin: 0;
    padding: 0;
    color: var(--white);
}

.story-titel {
    font-size: 18px;
}

.story-text {
    font-size: 13px;
}

.status {
    display: flex;
    flex-direction: column;
}

.trending,
.readme {
    margin: 0;
    padding: 0;
    font-size: 28px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trending {
    color: var(--trending);
}

.trendingimage {
    border: solid var(--trending) 4px;
}

.heartimage {
    border: solid var(--heart) 4px;
}

.trashimage {
    border: solid var(--trash-color) 4px;
}

.heart {
    color: var(--heart);
    border-color: var(--heart);
}

.trash {
    color: var(--trash-color);
    border-color: solid var(--trash-color) 4px;
}

.readme {
    color: var(--white);
}

.story img {
    object-fit: cover;
}

.iconnumber {
    display: flex;
    align-items: center;
    height: 50%;
    font-size: 14px;
    margin-top: 4px;
    /* margin-left: -2px; */
}