:root {
  --darktint: #333333;
  --text: #E8EBE4;
  --color: #4B7F52;
  --maintint: #B8BACF;
  --offtint: #999AC6;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--offtint);
  color: var(--text);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: purple;
}