/*Fonts and Colors*/
@import url('https://fonts.cdnfonts.com/css/roboto');

:root {
    --main-font: 'Roboto', sans-serif;

    --white: #FFFFFF;

    --navbar-main: rgb(26, 30, 61);
    --navbar-brand: rgba(26, 30, 61, 1);

    --pill-main: rgba(30, 30, 30, 95%);
    --pill-secondary: rgba(49, 49, 49, 95%);
    --pill-main-solid: #1E1E1E;

    --bulletinboard-bulletin: #00ffff;


    /* Icon and Border colors */

    --trending: #ffa500;
    --heart: #ff0000;
    --trash-color: rgb(99, 69, 0);

}

* {
    transition: 200ms;
}



/*Body Content*/
body {
    background: url("/assets/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
    font-weight: 600;
}

/*Scrollbar*/
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: powderblue;
}

/* Navbar begint hier */
.navbar {
    background-color: var(--navbar-main);
    margin-bottom: 30px;
}

.bd-navbar .navbar-nav .nav-link .loggedout {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #cbbde2;
}

.navbar-brand:active,
.nav-link:hover {
    background-color: darkseagreen;
}

.navbar-brand {
    position: fixed;
    right: 900px;
    border: 2px #1A1E3DFF solid;
    border-radius: 15px;
}

/*Nav eindigt*/

/* Footer begint hier */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--navbar-brand);
}

/*Footer eindigt*/

/*Buttons*/
button {
    margin-top: 25px;
    border: 5px blanchedalmond solid;
    color: cyan;
}

/*Buttons eindigt*/


.loggedout {
    display: none;
}

.loggedin {
    display: block;

}

/*error laten zien*/

.error {
    color: red;
    font-size: medium;
}